<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="MateoQuintero" name="author">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Contacts</title>
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/normalize.css" rel="stylesheet">
</head>
<body>
<style>
  .conenedor-izq__table a
  {
    color:#e0c400;
    font-size:24px;
    margin-bottom:10px;
  }
</style>
<header>
  <nav>
    <h1  style="margin-left: 10%;"th:text = "${area}+' Contacts'" ></h1>
  </nav>
</header>
<div class="upper-container">
  <p><b>Nombre: </b></p>
  <input id="author" placeholder="Digite Nombre" type="text">
  <button onclick="app.getNameAuthorBlueprints()">Search Contact</button>
</div>
<div class="principal-container">
  <div class="contenedor-izq">
    <div class="contenedor-izq__nombre">
      <a class="author-name" id="author-name">Contacts:</a>
    </div>
    <div class="conenedor-izq__table">
      <table class="table-blueprints" id="table-blueprints">
        <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>LAST NAME</th>
          <th>EMAIL</th>
          <th>CELLPHONE</th>
          <th>STATUS</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <button onclick="location.href='https://rest-chat.herokuapp.com/chat.html'" style="font-size: 30px;width: 94%;background-color: yellow;color: darkred;">Join Chat </button>
      
    </div>
  </div>
</div>
</body>
</html>